.container {
    display: grid;
    height: 100%;
    grid-gap: 5px;
    border: 1px solid black;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: space-around;
    align-content: center;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #Fff;
}

html, body {
    box-sizing: border-box;
    background-color: #dddad0;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }

.impair {
    background-color:rgb(112, 223, 223);
}

.pair {
    background-color: rgb(177, 81, 81);
}

.other {
    background-color: sandybrown;
}

.mis {
    background-color: rgb(32, 172, 172);
}
